<div id="container">
<div id="main"></div>


<script>
      var app = app || {};
      app.current_user = <%= @current_user.to_json.html_safe %>;
</script>

<script type="text/template" id='appViewTemplate'>
      <!-- <h1>Burning Airlines</h1> -->
      <img src="/assets/text.gif" alt="flaming">
      <div class="flight-list-style" >

      <!-- we need a search page where user can select origin, destination and date -->
      <form action="" id="searchForm">
      <label for="originfield">Origin:</label>
      <select id="originfield">
       <option value=0 selected disabled>select</option>
      <% Airport.all.each do |airport| %>
            <option value="<%= airport.id %>"><%= airport.name %></option>
      <% end %>
      </select>

      <label for="destinationfield">Destination:</label>
      <select id="destinationfield">
       <option value=0 selected disabled>select</option>
       <% Airport.all.each do |airport| %>
             <option value="<%= airport.id %>"><%= airport.name %></option>
       <% end %>
      </select>

      <label for="datefield">Date:</label>
      <input type="date" id="datefield">

      <button id="searchSubmit">Search</button>
      </form>
    </div>
</script>

<script type="text/template" id='flightViewTemplate'>
      <!-- <h1>Burning Airlines 2</h1> -->
      <%= image_tag "text.gif" %>
      <div class="flight-list-style" >
      <p>Origin: <%%= origin.name %></p>
      <p>Destination: <%%= destination.name %></p>
      <p>Date: <span id='flight-date'></span></p>
      <p></p>
      <p>Please select a seat.</p>

      <div id="seats"></div>
      <button id='confirm-seat-btn'>Proceed</button>
  </div>
</script>

<script type="text/template" id='reservationViewTemplate'>
      <!-- <h1>Burning Airlines 3</h1> -->
      <%= image_tag "text.gif" %>
      <div class="flight-list-style" >

      <p>Seat: <%%= seat %></p>
      <p>Date: <span id="flight-date"></p>
      <p>Flight Number: <span id="flight-number"></span></p>
      <p>Origin: <span id="origin-result"></span></p>
      <p>Destination: <span id="destination-result"></span></p>
      <p>Passenger Name: <%%= app.current_user.name %></p>
      <button id="cancel-reservation">Cancel Booking</button>
      <button id="confirm-reservation">Confirm Booking</button>
      </div>
</script>

<script type="text/template" id='confirmedViewTemplate'>
  <div class="flight-list-style" >
    <h2>Thank You For Choosing To Fly With Burning Airlines</h2>
    <p>Seat: <%%= seat %></p>
    <p>Date: <span id="flight-date"></p>
    <p>Flight Number: <span id="flight-number"></span></p>
    <p>Origin: <span id="origin-result"></span></p>
    <p>Destination: <span id="destination-result"></span></p>
    <p>Passenger Name: <%%= app.current_user.name %></p>
  </div>
</script>


</div>
