<div id="container">
<div id="main"></div>


<script>
      var app = app || {};
      app.current_user = <%= @current_user.to_json.html_safe %>;
</script>

<script type="text/template" id='appViewTemplate'>
      <!-- <h1>Burning Airlines</h1> -->
      <%= image_tag "text.gif" %>
      <div class="flight-list-style" >

      <!-- we need a search page where user can select origin, destination and date -->
      <form action="" id="searchForm">
      <label for="originfield">Origin:</label>
      <select id="originfield">
       <option value=0 selected disabled>select</option>
      <% Airport.all.each do |airport| %>
            <option value="<%= airport.id %>"><%= airport.name %></option>
      <% end %>
      </select>

      <label for="destinationfield">Destination:</label>
      <select id="destinationfield">
       <option value=0 selected disabled>select</option>
       <% Airport.all.each do |airport| %>
             <option value="<%= airport.id %>"><%= airport.name %></option>
       <% end %>
      </select>

      <label for="datefield">Date:</label>
      <input type="date" id="datefield">

      <button id="searchSubmit">Search</button>
      </form>
</script>

<script type="text/template" id='flightViewTemplate'>
      <!-- <h1>Burning Airlines 2</h1> -->
      <%= image_tag "text.gif" %>
      <div class="flight-list-style" >
      <p>Origin: <%%= origin.name %></p>
      <p>Destination: <%%= destination.name %></p>
      <p>Date: <span id='flight-date'></span></p>
      <p></p>
      <p>Please select a seat.</p>

      <div id="seats"></div>
      <button id='confirm-seat-btn'>Proceed</button>
  </div>
</script>

<script type="text/template" id='reservationViewTemplate'>
      <!-- <h1>Burning Airlines 3</h1> -->
      <%= image_tag "text.gif" %>
      <div class="flight-list-style" >

      <p>Seat: <%%= seat %></p>
      <p>Date: <span id="flight-date"></p>
      <p>Flight Number: <span id="flight-number"></span></p>
      <p>Origin: <span id="origin-result"></span></p>
      <p>Destination: <span id="destination-result"></span></p>
      <p>Passenger Name: <%%= app.current_user.name %></p>
      <button id="cancel-reservation">Cancel Booking</button>
      <button id="confirm-reservation">Confirm Booking</button>
      </div>
</script>

<script type="text/template" id='confirmedViewTemplate'>
  <%= image_tag "text.gif" %>
  <div class="flight-list-style" >
    <h1>Thank You For Choosing To Fly With Burning Airlines</h1>
    <p>Seat: <%%= seat %></p>
    <p>Date: <span id="flight-date"></p>
    <p>Flight Number: <span id="flight-number"></span></p>
    <p>Origin: <span id="origin-result"></span></p>
    <p>Destination: <span id="destination-result"></span></p>
    <p>Passenger Name: <%%= app.current_user.name %></p>
    <p><%= link_to 'Go Back Home', root_path  %></p>
  </div>
</script>

<script type="text/template" id='faqViewTemplate'>
  <div class="flight-list-style">
    <p>How do I book my flight?</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quae ipsum
      similique delectus deserunt nam ipsam quisquam eveniet asperiores illo nulla
       aliquid doloribus possimus corrupti quas voluptatibus vero, nihil et?
     </p>
     <p>How do I make payments?</p>
     <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quae ipsum
       similique delectus deserunt nam ipsam quisquam eveniet asperiores illo nulla
        aliquid doloribus possimus corrupti quas voluptatibus vero, nihil et?
      </p>
      <p>Is BurningAirlines reliable?</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quae ipsum
        similique delectus deserunt nam ipsam quisquam eveniet asperiores illo nulla
         aliquid doloribus possimus corrupti quas voluptatibus vero, nihil et?
       </p>
       <p>That was the best flight ever! What should I do about it?</p>
       <p>
         Spread the word. BurningAirlines is here to help you "safely" fly from one
         place to another. We are passionate about serving our customers. You can
         share us on facebook or twitter or any other social media network.
        </p>
  </div>
</script>
<footer>
  <!-- <%= image_tag "volcano.gif" %> -->

  <%= image_tag "flames.gif", { :height => "10%",  :width => "24.5%" }%>
  <%= image_tag "flames.gif" , { :height => "10%",  :width => "24.5%" }%>
  <%= image_tag "flames.gif" , { :height => "10%",  :width => "24.5%" }%>
  <%= image_tag "flames.gif" , { :height => "10%",  :width => "24.5%" }%>

  <!-- <%= image_tag "volcano.gif" %> -->

</footer>

</div>
