<!DOCTYPE html>
<html>
<head>
  <title>BurningAirlines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <a class="navbar-brand">

          <%= image_tag "planeicon.png", { :height => "42",  :width => "42" } %>


        </a>
      </div>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Home", root_path %></li>
          <li> <%= link_to "FAQ", "faq" %></li>
          <% if @current_user.present? && @current_user.admin.present? %>
              <li><%= link_to 'Add Plane', new_plane_path %></li>
              <li><%= link_to 'Add Flight', new_flight_path %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if @current_user.present? %>
              <li><%= link_to "Edit profile", edit_user_path(@current_user) %></li>
              <li><%= link_to "Logout #{ @current_user.email}", login_path, :method => :delete %></li>
          <% else %>
          <li><span class="signup-li glyphicon glyphicon-user">   <%= link_to "Sign up", 'users/new' %></span></li>
          <li><span class="signup-li glyphicon glyphicon-log-in">   <%= link_to "Login", login_path %></span></li>
          <% end %>
        </ul>

    </nav>

    <% if flash[:error].present? %>
  <h2 class="error errorMsg">
    <%= flash[:error] %>
  </h2>
    <% end %>

<%= yield %>

</body>
</html>
